.background{
    background-color:grey;
}

.middlePicture{
    display:flex;
    justify-content: center;
    align-items: center;
}

.middleText{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.textContainer{
    display:flex;
    align-items: center;
}

.displayflex{
    display:flex;
}

.fontSize{
    font-size: 3vh;
}

@media screen and (min-width: 0px) and (max-width: 750px) {
    .hide { display: none; }  /* show it on small screens */
    .middleonsmall{
        justify-content: center;
    }
  }